<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bisne macrame | HOME</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <%- include('../partials/header.ejs')%>
        <main>
            <aside id="mySidebar">
                <div class="top-sidebar">
                    <div class="search-input">
                        <input type="text" placeholder="Buscar">
                    </div>
                    <div class="close-icon">
                        <i class="fas fa-xmark" onclick="closeNav()"></i>
                    </div>
                </div>
                <div class="main-sidebar">
                    <ul class="main-menu">
                        <li><a href="index">Inicio</a></li>
                        <li class="menu-item"><a href="#">Categorías <span class="arrow">&#9658;</span></a>
                            <ul class="submenu">
                                <li><a href="#">Tapices</a></li>
                                <li><a href="#">Espejos </a></li>
                                <li><a href="#">Cuelga macetas</a></li>
                                <li><a href="#">Sujeta cortinas</a></li>
                                <li><a href="#">Varios</a></li>
                                <li><a href="#">Cursos</a></li>
                              </ul>
                        </li>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Envíos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="bottom-sidebar">
                    <ul>
                        <li><a href="productCart"><i class="fas fa-light fa-cart-shopping"></i>Carrito</a></li>
                        <li><a href="login"><i class="fas fa-regular fa-arrow-right-to-bracket"></i>Login</a></li>
                    </ul>
                </div>
            </aside>
            <div class="main-header">
                <p>Crea tu cuenta</p>
            </div>



        <!--Register form --> 

            <div class="form">
                <form method="POST" action="/users/register" enctype="multipart/form-data">
                    <div class="inputs">
                        <div class="input-box">
                            <label><b>Nombre completo:</b></label>
                                <input 
                                    type="text" 
                                    name="name" 
                                    class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.name : null %>"
                                >
                                <% if (locals.errors && errors.name) { %>
                                    <div class="text-danger">
                                        <%= errors.name.msg %> 
                                    </div>
                                <% } %>
                        </div>


                        <div class="input-box">
                            <label><b>Correo electrónico:</b></label>
                            <input 
                                type="text" 
                                name="email" 
                                class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.email : null %>"
                                >
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>
                        

                        <div class="input-box">
                            <label><b>Contraseña:</b></label>
                                <input 
                                type="password" 
                                name="password" 
                                class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                            >
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="input-box">
                             <label><b>Ciudad de residencia:</b></label>
                             <div class="input-box">
                                <select 
                                    name="city" 
                                    class="form-select <%= locals.errors && errors.city ? 'is-invalid' : null %>"
                                >
                                    <option value="">Elige tu ciudad de residencia </option>
                                        <%  
                                            let cities = ["Barranquilla", "Bogotá", "Bucaramanga", "Cali", "Medellín"];
                                        %>
                                        <% for (const oneCity of cities) { %>
                                            <option 
                                                value="<%= oneCity %>"
                                                <%= locals.oldData && (oneCity === oldData.city) ? 'selected' : null %> 
                                            > <%= oneCity %> </option>
                                        <% } %>
                                </select>
                                    <% if (locals.errors && errors.city) { %>
                                        <div class="text-danger">
                                            <%= errors.city.msg %>
                                        </div>
                                    <% } %>
                            </div>
                        </div>
                
                        <div class="input-box">
                            <label><b>Imagen de perfil:</b></label>
                            <input 
                                type="file" 
                                name="avatar"
                                class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
                            >
                            <% if (locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %>
                                </div>
                            <% } %>
                        </div>
                    
                    </div>

                        <div class="col-12 my-5">
                            <button type="submit" class="btn btn-primary">Crear tu cuenta</button>
                        </div>

                </form>


                    <p>¿Ya tienes tu cuenta? Ingresa <a href="login">aquí</a>.</p>
            </div>

             




        </main>
        <%- include('../partials/footer.ejs')%>
        <script>
            /*Set ancho de sidebar*/
            function openNav() {
                document.getElementById("mySidebar").style.width = "300px";
                document.getElementByTagName("body").style.marginLeft = "300px";
            }

            /*Set posición de sidebar*/
            function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            }

            //Obtener del menú "Categorías" y su submenú
            const categoriasMenu = document.querySelector('.menu-item');
            const submenu = document.querySelector('.submenu');

            //Agrega un evento de clic al elemento del menú "Categorías"
            categoriasMenu.addEventListener('click', function() {
                // Alternar la clase "collapsed" en el elemento del menú "Categorías"
                categoriasMenu.classList.toggle('collapsed');
                // Mostrar u ocultar el submenú
                submenu.style.display = submenu.style.display === 'none' ? 'block' : 'none';
            });

            categoriasMenu.addEventListener('click', function() {
                // Alternar la clase "open" en el elemento del menú "Categorías"
                categoriasMenu.classList.toggle('open');
                submenu.style.display = categoriasMenu.classList.contains('open') ? 'block' : 'none';
                });
        </script>
    </body>
</html>